<footer>
      
       
    <!-- fundi -->
    <div class="footer-content">
      <!-- pjesa e fundit -->
      <div class="contact-us">
        <p>Follow us or get in touch:</p>
        <div class="social-icons">
          <a href="#" target="_blank"></a>
          <i class="fa-brands fa-instagram">Instagram</i>
          <a href="#" target="_blank"></a>
          <i class="fa-brands fa-whatsapp">WhatsApp</i> 
          <a href="https://wa.me/355693363906" target="_blank"></a>
          <i class="fa-regular fa-envelope">Email</i>
        </div>
      </div>
     
      <!-- Subscription Box -->
      <div class="subscribe">
        <h5>Subscribe</h5>
        <input type="email" placeholder="Enter your email">
        <button>Send</button>
      </div>

      <!-- Links and Copyright -->
      <div class="footer-links">
        <a href="#">About</a> | <a href="#">Terms</a>
        <p>copyright:<span id="year"></span></p>
      </div>
    </div>
  </div>
</footer>