<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
<nav class="navbar navbar-expand-lg position-absolute top-0 w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href=""><img src="{% static 'image/lg.jpg' %}" alt=""><br>
        <span class="ps-2"> Fjolla's Shelf</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <div class="nav-icons">
          <a href="#"><i class="fas fa-shopping-cart"></i></a>
          </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage'%}">Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'registerpage'%}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'contactpage'%}">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Books and Journals</a></li>
              <!-- Afishimi i kategorive -->
              {% for category in categories %}
              <li><a class="dropdown-item" href="{% url 'categorypage' category.pk %}">{{category.category_title}}</a></li>
        {% endfor %}
            </ul>
          </li>

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-info" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</body>
</html>

