<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}
{% block content %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/book.css">
    
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
<link href="https://fontawesome.com/icons/cart-shopping?fclassic&ssolid" rel="stylesheet">
<body>
    <header class="position-relative">
      
      <!--Top-->
      <header class="register-banner">
<div class="top-banner">
  <p>Register and get 5%  discount on your first purchase</p>
</div>



      
        
        
        
        
          
          
            
          
            <!-- Logo and Navigation -->
            <div class="logo-nav">
              <img src="image/logo.jpg" alt="" class="logo" />
              <div class="nav-icons">
                </div>
            </div>
          
          
          <main class="contact-form">
            <!-- Page Title -->
            
            
          
    
      </div>
        <nav class="navbar navbar-expand-lg position-absolute top-0 w-100">
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html"><img src="{% static 'image/logo.jpg'%}" alt=""><br>
                <span class="ps-2">-Where stories live-</span></a>
    
                
              
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'homepage'%}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'registerpage'%}">Register</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'contactpage'%}">Contact</a>
                  </li>
                
                  <li class="nav-item dropdown">
                    <a class=" nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                      Category
                     </a>
                     {% for category in categories %}
              <li><a class="dropdown-item" href="{% url 'categorypage' category.pk %}">{{category.category_title}}</a></li>
        {% endfor %}
                    <ul class="dropdown-menu">
                      
                    
                      <li><a class="dropdown-item" href="#">Books and Journals</a></li>
                            
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Romance</a></li>
                              <li><a class="dropdown-item" href="#">Classic</a></li>
                              <li><a class="dropdown-item" href="#">Comics</a></li>
                              <li><a class="dropdown-item" href="#">Adventure</a></li>
                              <li><a class="dropdown-item" href="#">Philosophy</a></li>
                              <li><a class="dropdown-item" href="#">Novel</a></li>
                              <li><a class="dropdown-item" href="#">Mystery</a></li>
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Thriller</a></li>
    
                              <li><a class="dropdown-item" href="#">Journals</a></li>
    
                              
                    
                      
                    </ul>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-info" type="submit">Search</button>
                 </form>
                </div>
            </div>
          </nav>
        </header>
        <h6>Register Now</h6>
<main class="form">
  <div class="fullpage">
            <div class="col">
                <form>
                    <div class="mb-3">
                        <label for="emri" class="form-label">Emri</label>
                        <input type="text" class="form-control" id="emri" required>
                    </div>
                    <div class="mb-3">
                        <label for="mbiemri" class="form-label">Mbiemri</label>
                        <input type="text" class="form-control" id="mbiemri" required>
                        </div>
                        <label for="email" class="form-label">Email</label>
                              <input type="text" class="form-control" id="email" required>
                              </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password:</label>
                            <input type="text" class="form-control" id="togglePassword" required>
                            </div>
                            <div class="mb-3">
                              
                            <div class="mb-3">
                                <label for="Password" class="form-label">Confirm Password:</label>
                            <input  type="text" class="form-control" id="Password" required>
                                </div>
                                <input type="submit" class="btn btn-outline-primary" value="Register">
                              </main>
                            </div>
          <!--fundi-->

    
</body>
</html>




{% endblock %}









